table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    border: 1px solid #337ab7;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #337ab7;
    
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .bg{
    background-color: dodgerblue;
  }
  .width{
    width:275px;
    background-color:#cee4f1;
    text-align: center;
    border:1px solid white;
  }
  .well{
    background-color:#337ab7 ;
    color: whitesmoke;
  
  }
  body{
    
    background-color: white;
   }  
  
  .text{
      text-align: center;
      justify-content: center;
      font-family: 'Times New Roman', Times, serif;
    
  }
  * {
    box-sizing: border-box;
  }
  
  form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
  form button:hover {
    background: #337ab7;
  }
  
  label {
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  select{
    float:right;
    width: 64%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  textarea{
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid #337ab7;
  }
  
  @media (min-width: 400px) {
    form {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 200px;
    }
  
    input {
      float: left;
      width: calc(100% - 200px);
    }
  
  }
  .flex{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .regform{
    padding: 20px;
    padding-left: 40px;
  }
  .chartbg{
    background-color:	#b1b9e4;
    border: 1px solid black;
    justify-content: center;
    width:500px;
    height:500px;
    padding-top: 60px;
  }
  .chartform{
    justify-content: center;
    width:500px;
    height:550px;
   
  }
  .paddingchart{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  section {
    position: absolute;
    display: none;
    top: 10px;
    right: 0;
    width: 800px;
    min-height: 400px;
  }
  .pushdown{
    
    padding-top: 80px;
    
   
  }
 .left{
  float:left;
 }
 .padleft {
  padding-right: 90px;
 }