<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Payroll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="EMDashboard.css">
</head>
<body>
    <div class="well">
        <div class="text">
        <h1>Payroll</h1>
      </div>
      </div>
      
      <table>
          <tr>
            <th>Payroll_ID</th>
            <th>Emp_ID</th>
            <th>Dep_ID</th>
            <th>Wage</th>
            <th>Allowance</th>
            <th>Deductions</th>
            <th>Taxes</th>
            <th>Attend_ID</th>
            <th>WorkHours</th>
            <th>Salary</th>
          </tr>
          <tr>
            <td>Jack Reacher</td>
            <td>online</td>
            <td>Jack Reacher</td>
            <td>online</td>
            <td>online</td>
            <td>Jack Reacher</td>
            <td>online</td>
            <td>Jack Reacher</td>
            <td>online</td>
            <td>online</td>
              </tr>
              </table>
              
</body>
</html>