<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Leave Form</title>
    <link rel="stylesheet" href="EMDashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="well">
        <div class="text">
        <h1>Leave Form</h1>
      </div>
      </div>
      
        <div class="regform">
      <form class="form1" action="">
  
        <label>Employee ID</label>
        <input id="EmpID" type="text">
  
        <label>Type</label>
        <Select name="Type" id="Type">
        <option value="Casual">Casual</option>
        <option value="Extended">Extended</option>
        </Select>

        <label>Reason</label>
        <textarea id="Reason" rows="5" cols="50"></textarea>
  
        <label>Date/Time From</label>
        <input id="Date/TimeFrom" type="date">
  
        <label>Date/Time To</label>
        <input id="Date/TimeTo" type="date">
  
        <div class="text">
            <button>Submit</button>
          </div>
      </form>
      </div>
</body>
</html>