<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Attendance Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="Dashboard.css">
</head>
<body>
    <div class="well">
        <div class="text">
        <h1>Attendance Management</h1>
      </div>
      </div>
      
      <table>
          <tr>
            <th>Attendance_ID</th>
            <th>Emp_ID</th>
            <th>Date</th>
            <th>CheckIN</th>
            <th>CheckOut</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          <tr>
            <td>Jack Reacher</td>
            <td>online</td>
            <td>Jack Reacher</td>
            <td>online</td>
            <td>Jack Reacher</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
              </tr>
              </table><br>
              <div class="text">
              <button>Insert</button>
            </div>
</body>
</html>