<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"href="dashboard.css">
</head>
<body>
  

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs">
        
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4">
              <div class="width">
                <div class="d-flex align-items-center mb-4">
                        
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                    alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                    style="width: 70px;">
                  <div class="d-flex flex-row align-items-center mb-2">
                    <p class="text-light bg-dark">Admin</p>
                    <div class="bg">
                    <p class="text-light bg-dark">Jack Reacher</p>
                  </div>
                    <p class="mb-0 me-2"></p>
                    <button type="button" class="btn btn-primary">Edit</button>
                  </div>
                </div>  
          </div></div></div>
      <nav>
        <ul class="nav nav-pills nav-stacked"><br>
        
          <li data-rel="1" class="active"><a href="#section1">Dashboard</a></li><br><br>
          <li data-rel="2" ><a href="#section2">General</a></li><br><br>
          <li data-rel="3"><a href="#section3">Admin users</a></li><br><br>
          <li data-rel="4"><a href="#section4">Mail</a></li><br><br><br><br><br><br><br><br><hr>
          <li data-rel="5"><a href="#section5">Logout</a></li><br>
        </ul>
      </nav>
      </div>
      </div>
      <section>
      <div class="col-sm-9">
        <div class="well">
          <div class="text">
          <h1>Dashboard</h1>
        </div>
        </div>
        <div class="flex">
          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Employee's Details</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/employee.png" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>

          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Register Employees</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/registration.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>

          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Departments</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/department.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>      
        </div>

<div class="flex">
          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Attendance Management</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/attendance.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>

          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Leave Management</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/leave.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>

          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>FeedBack Management</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/feedback.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>      
        </div>

        <div class="flex">
          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Payroll</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/payroll.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>

          <div class="padding">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3>Cafeteria</h3> 
              </div>
              <div class="flip-card-back">
                <img src="Images/cafeteria.jfif" alt="Avatar" style="width:150px;height:125px;">
              </div>
            </div>
          </div></div>
        </div>

      </div>
    </section>
    <section>
        <div class="col-sm-9">
          <div class="well">
            <div class="text">
            <h1>General</h1>
          </div>
          </div></div>
      </section>
      <section>
        <div class="col-sm-9">
          <div class="well">
            <div class="text">
            <h1>Admin Users</h1>
          </div>
          </div></div>
      </section>
      <section>
        <div class="col-sm-9">
          <div class="well">
            <div class="text">
            <h1>Mail</h1>
          </div>
          </div></div>
      </section>
      <section>
        <div class="col-sm-9">
          <div class="well">
            <div class="text">
            <h1>Logout</h1>
          </div>
          </div></div>
      </section>
      </div>
      </div>

      <script>
        (function($) {
          $('nav li').click(function() {
            $(this).addClass('active').siblings('li').removeClass('active');
            $('section:nth-of-type('+$(this).data('rel')+')').stop().fadeIn(400, 'linear').siblings('section').stop().fadeOut(400, 'linear'); 
          });
        })(jQuery);
      </script>   
</body>
</html>